@import "bourbon";
@import "neat";

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 88rem;
    position: relative;
}

* {
    box-sizing: border-box;
}

/* Main CSS */

* {
    font-family: 'Inconsolata', monospace;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Inconsolata', monospace;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote {
    &:before, &:after {
        content: '';
        content: none;
    }
}

q {
    &:before, &:after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #000;
    text-decoration: none;
    border-bottom: dashed 1px;

    &:hover {
        color: #999;
    }
}

#weblist > li > a {
    text-decoration: none;
    border: none;
}

.hide-overlay {
    nav {
      display: block;
    }
}

nav {
  display: none;
}

.hide-overlay .overlay, .fa-toggle-off {
    display: none;
}

.hide-overlay {
    .fa-toggle-off {
        display: inline-block;
    }

    .fa-toggle-on {
        display: none;
    }
}

.overlay .overlay-content {
    box-sizing: border-box;
    color: #fff;
}

section {
    p {
        line-height: 2;
        margin-bottom: 20px;
        word-wrap: break-word;
    }

    h1 {
        font-size: 150%;
        font-weight: bolder;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 125%;
        font-weight: bolder;
        margin-bottom: 20px;
    }

    h3 {
        font-weight: bolder;
        margin-bottom: 20px;
    }
}

.background-content {
    padding: 10px 70px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;

    .overlay-content {
        height: 100%;
        overflow-y: scroll;
    }
}

.background-content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

nav {
    position: fixed;
    right: 100px;
    z-index: 9999;
}

.list {
    height: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    cursor: pointer;
    z-index: 9999;
    background-color: #111;
}

nav > ul {
    width: 50px;

    &:active {
        width: 200px;
    }
}

.overlay-content ul {
    list-style: none;

    li {
        a {
            text-align: center;
            padding: 12vh 2rem;
            color: #eee;
            font-size: 100px;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            font-weight: 700;
        }

        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }
}

#title {
    /* position: fixed; */
    /* padding: 10px; */
    /* background-color: #fff; */
    top: 10px;
    right: 10px;
}

#close {
    position: fixed;
    padding: 10px;
    background-color: #fff;
    top: 20px;
    left: 40px;
    z-index: 9999;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bolder;

    &:hover, &:active {
        background-color: #000;
        color: #fff;
    }

    span {
        &:hover, &:active {
            background-color: #000;
            color: #fff;
        }
    }
}

#title h1 {
    color: #eee;
}

#close span {
    color: #000;
}

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    nav {
        top: 0;
        right: 0;
    }

    section {
        h1 {
            font-size: 150%;
        }

        h3 {
            font-size: 80%;
        }
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .overlay-content ul li a {
        font-size: 25px;
        text-align: right;
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 1024px) {}